
@font-face {
  font-family: "Stackyard Personal";
  src: url("./fonts/webfontkit-20171024-105305/clasict1-webfont.woff");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  font-family: "Stackyard Personal";
  font-size: 60px;
}

.book-title {
    text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
