body {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 60px; /* to offset floating nav bar */
  height: 100%;
}
.dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.dropbtn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropbtn-content a:hover {background-color: #f1f1f1}

.dropbtn:hover .dropbtn-content {
    display: block;
}
